.main {
    margin-top: 100px;
}

/* Challenge - part 2: 
Replace the element selectors with class selectors */
.google-img {
    display: block;
    width: 300px;
}

.input-txt {
    display: block;
    width: 400px;
}
